<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <insert id="insertUser">
        insert into t_user values(#{id},#{name},#{age})
    </insert>

    <select id="selectUserById" resultType="org.god.ibatis.pojo.User">
        select id, name, age from t_user where id = #{id}
    </select>
</mapper>